<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD OPERATION- Insert</title>
</head>
<body>
<form action="UserController" method="post">
    <table border="0" cellspacing="2" cellpadding="5">
        <thead>
        <tr>
            <th colspan="2">Student Management System</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label>Student Name</label></td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><label>Student Roll Number</label></td>
            <td><input type="text" name="rollNo"/></td>
        </tr>
        <tr>
            <td><label>Student Address</label></td>
            <td><input type="text" name="address"/></td>
        </tr>
        <tr>
            <td><label>Student Mobile Number</label></td>
            <td><input type="text" name="mobile"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <!--<td><input type="reset" value="Reset"/></td>-->
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>